@font-face {
    font-family: 'nexa';
    src: url('assets/fonts/Nexa-Heavy.ttf');
  }
html {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #18111B;
    color: white;
    font-family: 'nexa';
}



#content {
    width: 100%;
}
#page {
    width: 66%;
    margin: 0 auto;
}
nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#navbar {
    display: flex;
    width: 400px;
    position: fixed;
    top: 10px;
    justify-content:space-around;
    flex-direction: row;
    background-color: rgba(30, 21, 35, 0.5);
    border-radius:.625em ;
    padding: .625em;
    backdrop-filter: blur(15px);
    outline: 1px solid rgba(255, 255, 255, 0.25);
    box-shadow: 0 0 5px #9A5CD0;
}

#navbar a{
    z-index: 1;
    color: white;
    text-decoration: none;
}
#navbar a:hover{
    z-index: 1;
    color: white;
    text-decoration: none;
}
#navbar a:nth-child(1):hover{
    color: #9a5cd0;
}
#navbar a:nth-child(2):hover{
    color: #d0605c;
}
#navbar a:nth-child(3):hover{
    color: #92d05c;
}
#navbar a:nth-child(4):hover{
    color: #5cccd0;
}


#home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

#home h1{
    font-size: 1.5rem;
    width: fit-content;
    background: linear-gradient(105deg,#9A5CD0,#d05c75);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}
#home h2{
    font-size: 5rem;
    line-height: 1;
    width: fit-content;
    background: linear-gradient(105deg,#9A5CD0,#d05c75);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;    
}
#home p{
    font-size: 3rem;  
}
#social {
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 1em 0;
    gap: 1em;
}
.socialMedia{
    color: #9A5CD0;
    border: solid 3px #9A5CD0;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding: .625em;
    box-shadow: none;
    background: transparent;
    cursor: pointer;
    transition: .33s;
}

.socialMedia:hover{
    color: white;
    background-color: #9A5CD0;
    box-shadow: 0 0 5px #9A5CD0,
                0 0 25px #9A5CD0;
}


#cvlink {
    display: flex;
    font-size: 0.9rem;
    flex-direction: row;
    align-items: center;
    border: solid 3px #9A5CD0;
    padding: .625em;
    width: fit-content;
    border-radius: .625em;
    transition: .33s;
    color: white;
    background-color: #9A5CD0;
    box-shadow: 0 0 5px #9A5CD0,
                0 0 25px #9A5CD0;
    
                
}
#cvlink:hover {
    color: #9A5CD0;
    box-shadow: none;
    background: transparent;
    cursor: pointer;
    
}
#cvlink svg{
    width: 16px;
    height: 16px;
}

#about {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items:center;
}
#aboutText{
    display: flex;
    flex-direction: column;
    width: 75%;
}
#aboutText h2 {
    font-size: 2rem;
}
#aboutText p {
    font: 1rem;
    
}
#about #photo {
    height: 50vh;
    width: 50vh;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
#photo img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    mix-blend-mode:lighten;
}