@font-face {
    font-family: 'SFPro';
    src: url('./assets/fonts/SF-Pro-Text-Regular.otf') ;
    font-style: normal;
}
@font-face {
    font-family: 'SFPro';
    src: url('./assets/fonts/SF-Pro-Text-Bold.otf') ;
    font-style: normal;
    font-weight: bold;
}


html {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #18111B;
    color: white;
    font-family: 'SFPro';
}



#content {
    width: 100%;
}
#content h2 {
    font-size: 2rem;
    padding: .75em 0;
}
#page {
    width: 66%;
    margin: 0 auto;
}
nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#navbar {
    display: flex;
    z-index: 100;
    width: 400px;
    position: fixed;
    top: 3vh;
    justify-content:space-around;
    flex-direction: row;
    background: linear-gradient(105deg, rgba(154, 92, 208, 0.1),rgba(208, 96, 92, 0.1),rgba(146, 208, 92, 0.1),rgba(92, 204, 208, 0.1));
    border-radius:.625em ;
    padding: .625em;
    outline: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px) brightness(200%) ;
    box-shadow: 0 0 5px rgba(154, 92, 208, 0.1),
                0 0 25px rgba(208, 96, 92, 0.1),
                0 0 50px rgba(146, 208, 92, 0.1),
                0 0 200px rgba(92, 204, 208, 0.1);
}

#navbar a{
    padding: .5em;
    position: relative;
    border-radius: .625em;
    color: white;
    text-decoration: none;
    transition: .25s;

}


#navbar a::after{
    position: absolute;
    content: "";
    height: 2px;
    width: 0;
    background-color: white;
    bottom: 0;
    left: 50%;
    transition: .25s;

}
#navbar a:nth-child(1)::after{
    background-color: #9a5cd0;
}
#navbar a:nth-child(2)::after{
    background-color: #d0605c;
}
#navbar a:nth-child(3)::after{
    background-color: #92d05c;
}
#navbar a:nth-child(4)::after{
    background-color: #5cccd0;
}
#navbar a:hover::after{
    width: 100%;
    left: 0;
}

#navbar a:nth-child(1):hover{
    color: #9a5cd0;
}
#navbar a:nth-child(2):hover{
    color: #d0605c;
}
#navbar a:nth-child(3):hover{
    color: #92d05c;
}
#navbar a:nth-child(4):hover{
    color: #5cccd0;
}



#home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

#home h3{
    font-size: 1.5rem;
    width: fit-content;
    background: linear-gradient(105deg,#9A5CD0,#d05c75);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}
#home h1{
    font-size: 5rem;
    line-height: 1;
    width: fit-content;
    background: linear-gradient(105deg,#9A5CD0,#d05c75);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;    
}
#home p{
    font-size: 3rem;  
}
#social {
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 1em 0;
    gap: 1em;
}
.socialMedia{
    color: #9A5CD0;
    border: solid 2px #9A5CD0;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding: .625em;
    box-shadow: none;
    background: transparent;
    cursor: pointer;
    transition: .33s;
}

.socialMedia:hover{
    color: white;
    background-color: #9A5CD0;
    box-shadow: 0 0 5px #9A5CD0,
                0 0 25px #9A5CD0;
}


#cvlink {
    display: flex;
    font-size: 0.9rem;
    flex-direction: row;
    align-items: center;
    border: solid 2px #9A5CD0;
    padding: .625em;
    width: fit-content;
    border-radius: .625em;
    transition: .33s;
    color: white;
    background-color: #9A5CD0;
    box-shadow: 0 0 5px #9A5CD0,
                0 0 25px #9A5CD0;
    
                
}
#cvlink:hover {
    color: #9A5CD0;
    box-shadow: none;
    background: transparent;
    cursor: pointer;
    
}
#cvlink svg{
    width: 16px;
    height: 16px;
}

#about {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
}
#aboutText{
    display: flex;
    flex-direction: column;
    width: 50%;
}
#aboutText h2 {
    color: #9a5cd0;
    width: fit-content;
    position: relative;
}

#aboutText p {
    font-size: 1.5rem;
    position: relative;
}

#aboutText p::after {
    position: absolute;
    background: linear-gradient(90deg,#9A5CD0,#d05c75);
    content: "";
    width: 100%;
    bottom: -1.5em;
    left: 0;
    height: 2px;
}

#about #photo {
    width: 33%;
    position: relative;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
    background: linear-gradient(105deg,#d05c75,#9A5CD0);
}

#photo img {
    height: 100%;
    width: 100%;
    padding: 100%  ;
    object-fit: cover;
}




#skills{
    scroll-margin-top: 25vh;
}
#skills h2{
    text-align: center;
    color: #d0605c;
}

#skills ul {
    padding:  10% 0 ;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 1em;
}
#skills ul li {
    font-size: 1.25rem;
    list-style: none;
    color: #ECD9FA;
    width: 33%;
    text-align: center;
    position: relative;
}
#skills ul li::after{
    position: absolute;
    content: "";
    bottom: -10px;
    left: 50%;
    padding-left: 10px;
    padding-right: 10px;
    height: 3px;
    border-radius: 50px;
    background-color: #664282;
}

#skills ul li svg{
    height: 1.5em;
    vertical-align: middle;
}


#work {
    scroll-margin-top: 25vh;

}
#work h2{
    color: #92d05c;
}

#workList{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    row-gap: 25px;
    justify-content: space-evenly;
}
.oneWork {
    width: 25%;
    background-color: #3C2E69;
    border-radius: 10px;
    padding: 2em;
    box-shadow: 0 0 5px #3C2E69,
                0 0 50px #3C2E69;
    transition: .33s;

}
.oneWork:hover {
    transform: translateY(-10px);
}
.oneWork h3 {
    font-size: 1.5rem;
    padding: .75em 0 ;

}
.oneWork p {
    color: #ECD9FA;

}

#contact {
    scroll-margin-top: 25vh;
    height: 90vh;


}

#contact a {
    text-decoration: none;
    display: flex;
    font-size: 0.9rem;
    flex-direction: row;
    align-items: center;
    border: solid 2px #9A5CD0;
    padding: .625em;
    width: fit-content;
    border-radius: .625em;
    transition: .33s;
    color: white;
    background-color: #9A5CD0;
    box-shadow: 0 0 5px #9A5CD0,
                0 0 25px #9A5CD0;
    
                
}
#contact h2 {
    color: #5cccd0;
}
#contact a:hover {
    color: #9A5CD0;
    box-shadow: none;
    background: transparent;
    cursor: pointer;
    
}
#contact a span {
    margin-left: 1em;
}
#contact a svg{
    width: 32px;
    height: 32px;
}

footer {
    display: flex;
    justify-content: center;
    color: #D19DFF;
    padding: 2em;
}
